<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="myget" value="https://www.myget.org/F/rapidstreamer/api/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
        <myget>
            <add key="Username" value="KAB-Team" />
            <add key="ClearTextPassword" value="3a02f7ad-f5e0-4eec-a946-4b54981b89c5" />
        </myget>
    </packageSourceCredentials>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>